<%= form_for @wl_national_holiday do |f| %>

<%= render(partial: "form", locals: {form: f}) %>
<p>
    <%= f.submit l(:button_update)%>
    <%= link_to l(:button_cancel), :controller => 'wl_national_holiday', :action => "index", :year => @this_year %>
</p>
<% end %>
